.create {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    position: relative;
    top: 100px;
}

.posts {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    position: relative;
    top: 100px;
    padding: 50px;
}

.createBoxes{
    display: flex;
    justify-content: center;
    padding: 25px;
}