@import '../../reset.css';


.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 20%;
    
}


.chat {
    background-color: #9e9d9b;
    background-size: 50px;
    border:none ;
    padding: 8px;
    color: #f2f2f2;
    /* margin-left: 30px; */
    cursor: pointer;
    border-radius: 1px;
    width: 10vh;
    /* display: inline-block; */
    /* left: 128vh; */
    /* top: 1vh; */
    border-radius: 2rem;
    /* vertical-align: baseline; */
    font-family: 'Space Mono', monospace;
}

.home{
    background-color: #9e9d9b;
    background-size: 50px;
    border:none ;
    padding: 8px;
    color: #f2f2f2;
    /* margin-left: 30px; */
    cursor: pointer;
    border-radius: 1px;
    width: 10vh;
    /* display: inline-block; */
    /* left: 128vh; */
    /* top: 1vh; */
    border-radius: 2rem;
    /* vertical-align: baseline; */
    font-family: 'Space Mono', monospace;
}

.logout {
    background-color: #9e9d9b;
    background-size: 50px;
    border:none ;
    padding: 8px;
    color: #f2f2f2;
    /* margin-left: 30px; */
    cursor: pointer;
    border-radius: 1px;
    width: 10vh;
    /* display: inline-block; */
    /* left: 128vh; */
    /* top: 1vh; */
    border-radius: 2rem;
    /* vertical-align: baseline; */
    font-family: 'Space Mono', monospace;
}

.new-post{
    background-color: #9e9d9b;
    background-size: 50px;
    border:none ;
    padding: 8px;
    color: #f2f2f2;
    /* margin-left: 30px; */
    cursor: pointer;
    border-radius: 1px;
    width: 10vh;
    /* display: inline-block; */
    /* left: 128vh; */
    /* top: 1vh; */
    border-radius: 2rem;
    /* vertical-align: baseline; */
    font-family: 'Space Mono', monospace;
}