@import '../../reset.css';




.home{
    display: inline-block;
    float: left;
    margin-left: 105rem;
    background-color:rgb(135, 234, 241) ;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

.logout{
    display: inline-block;
    float: left;
    margin-left: 0rem;
    border: none;
}

.home:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.logout:hover{
    cursor: pointer;
}